.dropdown{
	display:inline-block;
}
.field-name{
	width:calc(100% - 450px);
	display:inline-block;
	min-width: 200px;
}
.element-row{
	height:40px;
}
input.error, input.error:focus, button.error{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	
}
.form-preview{
	background-color: #ccc;
	border: 1px solid #eee;
	min-height: 200px;
	padding:10px;
	display:none;
	position: relative;
}
.form-preview label, .form-preview input{
	margin:10px 0;
}
.overlayer{
    opacity: 0.4;
    z-index: 999;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    background-color: #ccc;
}
label.error, label.errorType{
	color: #b94a48;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container,.jumbotron .container {
  width: auto;
  max-width: 800px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

